<main id="main-content" class="col-md-10 mx-auto">
{% include "partials/nav_desktop.njk" %}
{% include "partials/home_hero.njk" %} 
{% include "partials/home_section.njk" %}
{% include "partials/post_list.njk" %}
</main>