---
permalink: /humans.txt
eleventyExcludeFromCollections: true
layout: null
date: Last Modified
---

/* WHO */

  Adam DJ Brett
  Website: adamdjbrett.com

/* THANKS */
  Username: Creativas.dev
  Website: https://creativas.dev

  Original Theme Design: HTML5 UP
  Website: https://html5up.net

  Eleventy Creator: Zachleat
  Twitter: @zachleat


/* Credits */

  Static Site Generator: Eleventy
  Website: https://11ty.dev

/* SITE */

  Last update: {{ page.date }}
  Language: English
  Generator: Eleventy
  Theme: 11ty-Editorial