.menuItem {
  color:red;
  font-family:Geneva,sans-serif;
  font-size:9pt
  position:absolute; 
  visibility:hidden; 
  left:0px;
}
.node { 
  color: black;
  font-family:sans-serif;
  font-size:9pt;
}
.node A:link { 
  color: black; 
  text-decoration: none; 
}
.node A:visited { 
  color: black; 
  text-decoration: none; 
}
.node A:active { 
  color: black; 
  text-decoration: none; 
}
.node A:hover { 
  color: black; 
  text-decoration: none; 
}
.leaf {
  color: black;
  font-family:sans-serif;
  font-size: 9pt;
}
.leaf A:link {
  color: black; 
  text-decoration: none;
}
.leaf A:visited { 
  color: black; 
  text-decoration: none; 
}
.leaf A:active { 
  color: black; 
  text-decoration: none; 
}
.leaf A:hover { 
  color: black;
  text-decoration: none;
}
.footer {
  text-decoration:none;
  color:#000000;
  font-family:helvetica,arial,trebuchet,sans-serif;
  font-size:9pt;
}
.wfooter {
  text-decoration:none;
  color:#FFFFFF;
  font-family:sans-serif;
  font-size:9pt;
}
.bcfooter {
  text-decoration:none;
  font-family:sans-serif;
  font-weight:bold;
  font-size:9pt;
}
.dinky {
  text-decoration:none;
  color:#000000;
  font-family:sans-serif;
  font-size:9pt;
}
.credits {
  color:#000000;
  font-family:sans-serif;
  font-size:9pt;
  font-style:italic;
  text-align:right;
}
.quote {
  font-size:9pt;
  font-style:italic;
  margin-left:3em;
  margin-right:3em;
}
.kindo {
  color:#000000;
  font-family:sans-serif;
  font-size:10pt;
  font-weight:bold;
}
.reverse{
  color:#FFFFFF;
  background-color:#000000;
  font-weight:bold;
}
.highlight{
  color:black;
  background-color:yellow;
  font-weight:bold;
}
H1{
  text-decoration:none;
  color:#000000;
  font-weight:bold;
  font-family:sans-serif;
  font-size:20px;
}
H2{
  text-decoration:none;
  color:#000000;
  font-weight:bold;
  font-family:sans-serif;
  font-size:16px;
}
H3{
  text-decoration:none;
  color:#000000;
  font-weight:bold;
  font-family:sans-serif;
  font-size:14px;
}
H4{
  color:#000000;
  font-weight:bold;
  font-family:sans-serif;
  font-size:12px;
}
H5{
  text-decoration:none;
  color:#000000;
  font-weight:normal;
  font-family:sans-serif;
  font-size:10px;
}
H6{
  text-decoration:none;
  color:#000000;
  font-weight:normal;
  font-family:sans-serif;
  font-size:9pt
}
UL{
  list-style:square;
}
BODY{
  background-color:white;
}
HR{
  size=1px
}
A:link {
  color=#333366;
}
A:visited {
  color:"#996699";
}
A:hover {
  color:"red";
}

/*
     FILE ARCHIVED ON 00:38:00 Jun 23, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:26:03 Nov 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.481
  exclusion.robots: 0.016
  exclusion.robots.policy: 0.008
  esindex: 0.012
  cdx.remote: 20.408
  LoadShardBlock: 84.912 (3)
  PetaboxLoader3.datanode: 108.665 (4)
  load_resource: 159.679
  PetaboxLoader3.resolve: 113.102
*/