name: Eleventy Deploy Shared Hosting

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: 1. Checkout Repository
        uses: actions/checkout@v4

      - name: 2. Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: 3. Install Dependencies
        run: npm install

      - name: 4. Build Eleventy Project
        run: npm run build

      - name: 5. Deploy via FTPS (Force jsftp Client)
        uses: SamKirkland/FTP-Deploy-Action@v4.2.0 
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: './_site/'
          server-dir: "/" 
          protocol: 'ftps' 
          port: 21 
          ftp-client: 'jsftp' 

      - name: 6. Deployment Complete
        run: echo "Deployment 11ty finish!"